.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.links {
  text-decoration: none;
  color: white;
  font-size: 23px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: 35% 55%;
  margin: 8px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid purple;
}

.check {
  display: flex;
  flex-basis: 10px;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}
